<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2007-2013 The Europeana Foundation Licenced under the EUPL,
	Version 1.1 (the "Licence") and subsequent versions as approved by the European
	Commission; You may not use this work except in compliance with the Licence.
	You may obtain a copy of the Licence at: http://joinup.ec.europa.eu/software/page/eupl
	Unless required by applicable law or agreed to in writing, software distributed
	under the Licence is distributed on an "AS IS" basis, without warranties
	or conditions of any kind, either express or implied. See the Licence for
	the specific language governing permissions and limitations under the Licence. -->

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <display-name>Sitemap</display-name>
    <description>This application generates a sitemap for all Europeana records</description>

    <listener>
        <listener-class>eu.europeana.sitemap.web.context.VcapPropertyLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>europeana-sitemap</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>europeana-sitemap</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>